
.wizard-pannel{
    & > div{
        min-height: calc(100vh - 104px);
        // background-color: none;
        
        &:first-of-type{
          border-right: 1px solid black;
        }

        .CodeMirror{
          min-height: calc(100vh - 104px) !important;
          height: calc(100vh - 104px) !important;
          text-align: left;
        }

    }
  
}