
.wizard-pannel{
    & > div{
        min-height: calc(100vh - 104px);
        background-color: rgb(224, 224, 224);
        
        &:first-of-type{
          border-right: 1px solid black;
        }
    }
  
}