
.wizard-pannel{
    & > div{
        min-height: calc(100vh - 104px);
        background-color: none;
        
        &:first-of-type{
          border-right: 1px solid black;
        }


        .Codemirror{
          text-align: center;
        }

    }
  
}