.form-content{
    margin:20px;
    .ant-row{
        margin-bottom: 10px ;

        
        label{
            color: rgb(87, 85, 85) !important;
        }
        .ant-input{
            width: 400px !important;
            font-weight: 400;
        }
    }

}